{% extends 'template.html' %}
{% block title %}Visualização do Guia | Orienta{% endblock %}
{% block header %}{% include 'partials/private-header.html' %}{% endblock %}
{% block content %}
<div class="w-full max-w-3xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
    <div class="mb-8 gap-4">
        <h1 class="text-center text-3xl font-semibold text-gray-900 animate-fade-in">Guia de Estudo Gerado</h1>
    </div>
    <div
        class="w-full max-w-3xl mx-auto bg-white p-8 md:p-10 border border-gray-300 rounded-sm shadow-md space-y-4 animate-fade-in">
        {% for daily_study in daily_study_list %}
        <details class="border border-gray-200 rounded-sm group animate-fade-in animation-delay-200">
            <summary
                class="p-4 cursor-pointer list-none flex items-center justify-between hover:bg-gray-50 transition-colors duration-200 animate-fade-in animation-delay-400">
                <div class="flex items-center">
                    <input type="checkbox"
                        class="h-5 w-5 rounded border-gray-300 text-blue-600 focus:ring-blue-500 mr-4" id="day-status">

                    <div class="font-medium text-gray-800">
                        <span class="font-bold">Dia {{daily_study["day"]}} - </span>
                        <span class="text-gray-700">{{ daily_study["title"] }}</span>
                    </div>
                </div>
                <svg class="w-5 h-5 text-gray-500 transform group-open:rotate-180 transition-transform duration-300"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                </svg>
            </summary>
            <div class="p-6 bg-gray-50 border-t border-gray-200">
                <div class="space-y-3 text-gray-700">
                    <p><strong>Meta:</strong> {{ daily_study["goal"] }}</p>
                    <p><strong>O que pesquisar:</strong>
                    <ul>
                        {% for research_tip in daily_study["theoretical_research"] %}
                        <li>💡 {{ research_tip }}</li>
                        {% endfor %}
                    </ul>
                    </p>
                    <p><strong>Mão na massa:</strong> {{ daily_study["practical_activity"] }}</p>
                    <p><strong>Verificação de Aprendizado:</strong> {{ daily_study["learning_verification"] }}</p>
                </div>
            </div>
        </details>
        {% endfor %}
    </div>
</div>
{% endblock %}


{% block scripts %}
<script>
    const checkboxes = document.querySelectorAll("#day-status");

    checkboxes.forEach((checkbox) => {
        checkbox.addEventListener('click', () => {
            const detailElement = checkbox.closest('details');
            if (checkbox.checked) {
                detailElement.classList.add('day-completed')
            } else {
                detailElement.classList.remove('day-completed')
            }
        }
        )
    });
</script>
{% endblock %}